@charset "UTF-8";
/* style.css */
/* _reset.scss */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _variables.scss */
/* _base.scss */
*, ::before, ::after {
  box-sizing: border-box; }

html, body {
  scroll-behavior: smooth;
  font-size: 18px;
  line-height: 28px;
  font-family: "Source Serif Pro", serif;
  letter-spacing: -0.003em;
  font-weight: normal;
  background: #fff;
  color: #333333; }

@media screen and (min-width: 768px) {
  html, body {
    font-size: 20px;
    line-height: 32px; } }
main {
  background: #fff; }

* {
  outline: none; }

hr {
  border: 0;
  width: 100%;
  height: 1px;
  margin: 3rem 0;
  background: #000; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
  font-weight: 500;
  line-height: 1.5em; }

h1, .h1 {
  font-size: 2.00rem;
  margin: 0.67em 0 0.67em; }

h2, .h2 {
  font-size: 1.50rem;
  margin: 0.83em 0; }

h3, .h3 {
  font-size: 1.17rem;
  margin: 1em 0; }

h4, .h4 {
  margin-top: 1.00rem;
  margin: 1.33em 0; }

h5, .h5 {
  font-size: 0.83rem;
  margin: 1.67em 0; }

h6, .h6 {
  font-size: 0.67rem;
  margin: 2.33em 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

a.underlined, .header .nav ul li a:hover, .header .nav ul li a:focus, .article a, .card .card__title a {
  border-bottom: 0.09rem solid #828282; }

mark {
  padding: 0 .25em;
  background: rgba(255, 255, 0, 0.25); }

blockquote {
  display: block;
  width: 100%;
  padding: 0 2rem;
  color: #828282;
  line-height: 1.3em;
  font-size: 1.6em;
  font-weight: 300; }
  blockquote cite {
    display: block;
    width: 100%;
    margin-top: 1rem; }
  blockquote cite::before {
    content: "— "; }

b, strong {
  font-weight: bold; }

i {
  font-style: italic; }

ul {
  display: block;
  list-style-type: disc;
  padding-left: 2rem; }

ol {
  display: block;
  list-style-type: decimal;
  padding-left: 2rem; }

li {
  display: list-item; }

code {
  background: #f3f3f3;
  padding: 0.1rem 0.25rem;
  font-family: monospace; }

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
  border: black 1px solid;
  text-align: center; }

table thead tr {
  background: #333333;
  color: #fff; }

table th,
table td {
  padding: 0.6rem 0.75rem; }

table tbody tr {
  border-bottom: black 1px solid; }

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3; }

table tbody tr:last-of-type {
  border-bottom: black 1px solid; }

/* _utilities.scss */
.text-danger {
  color: #e74c3c !important; }

.bg-danger {
  background: #e74c3c !important; }

.text-warning {
  color: #e67e22 !important; }

.bg-warning {
  background: #e67e22 !important; }

.text-success {
  color: #27ae60 !important; }

.bg-success {
  background: #27ae60 !important; }

.text-light {
  color: #828282; }

.text-center {
  text-align: center  !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-justify {
  text-align: justify !important; }

.uppercase {
  text-transform: uppercase !important; }

.lowercase {
  text-transform: lowercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.font-light {
  font-weight: 100 !important; }

.font-bold {
  font-weight: 700 !important; }

.font-normal {
  font-weight: 400 !important; }

.tiny {
  font-size: 0.5em !important; }

.small {
  font-size: 0.95em !important; }

.big {
  font-size: 1.05em !important; }

.giant {
  font-size: 1.5em !important; }

.lead {
  font-size: 1.10rem; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.flex {
  display: flex !important; }

.flex-wrap {
  flex-wrap: wrap; }

.justify-center {
  justify-content: center        !important; }

.justify-space-between {
  justify-content: space-between !important; }

.justify-space-evenly {
  justify-content: space-evenly  !important; }

.justify-space-around {
  justify-content: space-around  !important; }

.justify-flex-start {
  justify-content: flex-start    !important; }

.justify-flex-end {
  justify-content: flex-end      !important; }

.items-center {
  align-items: center     !important; }

.items-start {
  align-items: flex-start !important; }

.items-end {
  align-items: flex-end   !important; }

.flex-row {
  flex-direction: row; }

.flex-row-reverse {
  flex-direction: row-reverse; }

.flex-col {
  flex-direction: column; }

.flex-col-reverse {
  flex-direction: column-reverse; }

.flex-1 {
  flex: 1 !important; }

.h-25 {
  height: 25vh !important; }

.h-50 {
  height: 50vh !important; }

.h-75 {
  height: 75vh !important; }

.h-100 {
  height: 100vh !important; }

.max-h-25 {
  max-height: 25vh !important; }

.max-h-50 {
  height: 50vh !important; }

.max-h-65 {
  height: 65vh !important; }

.max-h-75 {
  height: 75vh !important; }

.max-h-100 {
  height: 100vh !important; }

.w-100 {
  width: 100% !important; }

.object-fit-cover {
  object-fit: cover; }

.gap-0 {
  gap: 0rem !important; }

.m-0 {
  margin: 0rem !important; }

.my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important; }

.mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important; }

.mt-0 {
  margin-top: 0rem !important; }

.mb-0 {
  margin-bottom: 0rem !important; }

.ml-0 {
  margin-left: 0rem !important; }

.mr-0 {
  margin-right: 0rem !important; }

.p-0 {
  padding: 0rem !important; }

.py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important; }

.px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important; }

.pt-0 {
  padding-top: 0rem !important; }

.pb-0 {
  padding-bottom: 0rem !important; }

.pl-0 {
  padding-left: 0rem !important; }

.pr-0 {
  padding-right: 0rem !important; }

.gap-1 {
  gap: 1rem !important; }

.m-1 {
  margin: 1rem !important; }

.my-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.mx-1 {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.p-1 {
  padding: 1rem !important; }

.py-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.px-1 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.gap-2 {
  gap: 2rem !important; }

.m-2 {
  margin: 2rem !important; }

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important; }

.mx-2 {
  margin-left: 2rem !important;
  margin-right: 2rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.p-2 {
  padding: 2rem !important; }

.py-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important; }

.px-2 {
  padding-left: 2rem !important;
  padding-right: 2rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.gap-3 {
  gap: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.my-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.mx-3 {
  margin-left: 3rem !important;
  margin-right: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.p-3 {
  padding: 3rem !important; }

.py-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.px-3 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.gap-4 {
  gap: 4rem !important; }

.m-4 {
  margin: 4rem !important; }

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important; }

.mx-4 {
  margin-left: 4rem !important;
  margin-right: 4rem !important; }

.mt-4 {
  margin-top: 4rem !important; }

.mb-4 {
  margin-bottom: 4rem !important; }

.ml-4 {
  margin-left: 4rem !important; }

.mr-4 {
  margin-right: 4rem !important; }

.p-4 {
  padding: 4rem !important; }

.py-4 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important; }

.px-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important; }

.pt-4 {
  padding-top: 4rem !important; }

.pb-4 {
  padding-bottom: 4rem !important; }

.pl-4 {
  padding-left: 4rem !important; }

.pr-4 {
  padding-right: 4rem !important; }

.gap-5 {
  gap: 5rem !important; }

.m-5 {
  margin: 5rem !important; }

.my-5 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important; }

.mx-5 {
  margin-left: 5rem !important;
  margin-right: 5rem !important; }

.mt-5 {
  margin-top: 5rem !important; }

.mb-5 {
  margin-bottom: 5rem !important; }

.ml-5 {
  margin-left: 5rem !important; }

.mr-5 {
  margin-right: 5rem !important; }

.p-5 {
  padding: 5rem !important; }

.py-5 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important; }

.px-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important; }

.pt-5 {
  padding-top: 5rem !important; }

.pb-5 {
  padding-bottom: 5rem !important; }

.pl-5 {
  padding-left: 5rem !important; }

.pr-5 {
  padding-right: 5rem !important; }

.is-hidden {
  display: none !important; }

.shadow, .hover\:shadow:hover {
  box-shadow: #f3f3f3 1px 1px 20px; }

@media print {
  [data-do-not-print] {
    display: none; } }
/* _header.scss */
.bars {
  width: 22px;
  height: 12px;
  position: relative; }
  .bars .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #333333;
    border-radius: 100px;
    transition: all .3s;
    transform: rotate(0); }
  .bars .bar:first-child {
    top: 0; }
  .active .bars .bar:first-child {
    transform: rotate(45deg);
    top: 5px; }
  .bars .bar:last-child {
    bottom: 0; }
  .active .bars .bar:last-child {
    transform: rotate(-45deg);
    bottom: 5px; }

.header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  font-size: 0.95rem; }
  .header .bars {
    z-index: 1000; }
  .header .nav {
    display: none; }
  .header .nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem; }
  .header .nav ul li a {
    transition-duration: .1s; }
  @media screen and (min-width: 992px) {
    .header .nav {
      display: block; } }
  .header .responsive-nav {
    border: black 1px solid;
    z-index: 1000;
    position: absolute;
    transition: left .3s;
    background-color: #fff;
    left: -100%;
    top: 100%;
    height: 100vh;
    max-width: 576px;
    width: 100%;
    padding: 2rem 3.5rem; }
  .header .responsive-nav ul {
    list-style: none;
    padding: 0; }
  .header .responsive-nav ul li {
    margin: 1.5rem 0; }
  .header .responsive-nav ul li a {
    color: inherit;
    transition: color .1s; }
  .header .responsive-nav ul li a:hover {
    color: #828282; }
  .active .header .responsive-nav {
    left: 0; }
  .header .icons {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: center;
    align-items: center; }
  .header .icons .bars,
  .header .icons .search,
  .header .icons .search-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; }
  .header .icons .search,
  .header .icons .search-close {
    z-index: 3000; }
  .header .search-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; }
    .header .search-wrapper form {
      margin: 0 4rem; }
    .header .search-wrapper form input {
      background: none;
      font-size: 5rem !important;
      border: none; }
    .header .search-wrapper form input::placeholder {
      color: #f3f3f3; }

body.active {
  overflow: hidden; }

main {
  transition: .2s; }
  .active main {
    filter: brightness(50%); }

@media print {
  .header {
    display: none; } }
/* _footer.scss */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  padding: 1rem;
  border-top: #000 1px solid; }
  .footer > * {
    flex: 1; }
  .footer .networks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding: 1rem;
    font-size: 1.05rem; }
  .footer .license {
    text-align: center;
    padding: 1rem; }

@media screen and (min-width: 576px) {
  .footer {
    margin-top: 5rem;
    padding: 4rem; } }
@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row; } }
@media print {
  .footer {
    display: none; } }
/* _article.scss */
.main-img {
  max-height: 70vh;
  object-fit: contain;
  width: 100%; }

.article {
  max-width: 992px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  background: inherit; }

@media screen and (min-width: 576px) {
  .article {
    padding: 2rem; } }
@media screen and (min-width: 768px) {
  .article {
    padding: 2rem 5rem; } }
.article .title {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.3;
  margin: 0 0 2rem;
  text-align: center; }

@media screen and (min-width: 576px) {
  .article .title {
    font-size: 2.7rem; } }
.article .foot {
  width: 100%; }

.article blockquote, .article table, .article img {
  margin: 3rem 0; }
.article h1, .article .h1, .article h2, .article .h2, .article h3, .article .h3, .article h4, .article .h4, .article h5, .article .h5, .article h6, .article .h6, .article img, .article ol, .article ul, .article p {
  margin: 2rem 0; }
.article .delimiter::before {
  content: '···';
  letter-spacing: .5em;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

/* _grid.scss */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

@media screen and (min-width: 0) {
  .row {
    grid-gap: 1rem; } }
@media screen and (min-width: 768px) {
  .row {
    grid-gap: 2rem; } }
@media screen and (min-width: 992px) {
  .row {
    grid-gap: 3rem; } }
.col-1 {
  grid-column: span 1; }
  .col-1 > * {
    margin-bottom: 2.75rem; }

.order-1 {
  order: 1; }

.col-2 {
  grid-column: span 2; }
  .col-2 > * {
    margin-bottom: 2.75rem; }

.order-2 {
  order: 2; }

.col-3 {
  grid-column: span 3; }
  .col-3 > * {
    margin-bottom: 2.75rem; }

.order-3 {
  order: 3; }

.col-4 {
  grid-column: span 4; }
  .col-4 > * {
    margin-bottom: 2.75rem; }

.order-4 {
  order: 4; }

.col-5 {
  grid-column: span 5; }
  .col-5 > * {
    margin-bottom: 2.75rem; }

.order-5 {
  order: 5; }

.col-6 {
  grid-column: span 6; }
  .col-6 > * {
    margin-bottom: 2.75rem; }

.order-6 {
  order: 6; }

.col-7 {
  grid-column: span 7; }
  .col-7 > * {
    margin-bottom: 2.75rem; }

.order-7 {
  order: 7; }

.col-8 {
  grid-column: span 8; }
  .col-8 > * {
    margin-bottom: 2.75rem; }

.order-8 {
  order: 8; }

.col-9 {
  grid-column: span 9; }
  .col-9 > * {
    margin-bottom: 2.75rem; }

.order-9 {
  order: 9; }

.col-10 {
  grid-column: span 10; }
  .col-10 > * {
    margin-bottom: 2.75rem; }

.order-10 {
  order: 10; }

.col-11 {
  grid-column: span 11; }
  .col-11 > * {
    margin-bottom: 2.75rem; }

.order-11 {
  order: 11; }

.col-12 {
  grid-column: span 12; }
  .col-12 > * {
    margin-bottom: 2.75rem; }

.order-12 {
  order: 12; }

@media screen and (min-width: 0) {
  .xs\:col-1 {
    grid-column: span 1; }
    .xs\:col-1 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-1 {
    order: 1; }

  .xs\:col-2 {
    grid-column: span 2; }
    .xs\:col-2 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-2 {
    order: 2; }

  .xs\:col-3 {
    grid-column: span 3; }
    .xs\:col-3 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-3 {
    order: 3; }

  .xs\:col-4 {
    grid-column: span 4; }
    .xs\:col-4 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-4 {
    order: 4; }

  .xs\:col-5 {
    grid-column: span 5; }
    .xs\:col-5 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-5 {
    order: 5; }

  .xs\:col-6 {
    grid-column: span 6; }
    .xs\:col-6 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-6 {
    order: 6; }

  .xs\:col-7 {
    grid-column: span 7; }
    .xs\:col-7 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-7 {
    order: 7; }

  .xs\:col-8 {
    grid-column: span 8; }
    .xs\:col-8 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-8 {
    order: 8; }

  .xs\:col-9 {
    grid-column: span 9; }
    .xs\:col-9 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-9 {
    order: 9; }

  .xs\:col-10 {
    grid-column: span 10; }
    .xs\:col-10 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-10 {
    order: 10; }

  .xs\:col-11 {
    grid-column: span 11; }
    .xs\:col-11 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-11 {
    order: 11; }

  .xs\:col-12 {
    grid-column: span 12; }
    .xs\:col-12 > * {
      margin-bottom: 2.75rem; }

  .xs\:order-12 {
    order: 12; } }
@media screen and (min-width: 576px) {
  .sm\:col-1 {
    grid-column: span 1; }
    .sm\:col-1 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-1 {
    order: 1; }

  .sm\:col-2 {
    grid-column: span 2; }
    .sm\:col-2 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-2 {
    order: 2; }

  .sm\:col-3 {
    grid-column: span 3; }
    .sm\:col-3 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-3 {
    order: 3; }

  .sm\:col-4 {
    grid-column: span 4; }
    .sm\:col-4 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-4 {
    order: 4; }

  .sm\:col-5 {
    grid-column: span 5; }
    .sm\:col-5 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-5 {
    order: 5; }

  .sm\:col-6 {
    grid-column: span 6; }
    .sm\:col-6 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-6 {
    order: 6; }

  .sm\:col-7 {
    grid-column: span 7; }
    .sm\:col-7 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-7 {
    order: 7; }

  .sm\:col-8 {
    grid-column: span 8; }
    .sm\:col-8 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-8 {
    order: 8; }

  .sm\:col-9 {
    grid-column: span 9; }
    .sm\:col-9 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-9 {
    order: 9; }

  .sm\:col-10 {
    grid-column: span 10; }
    .sm\:col-10 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-10 {
    order: 10; }

  .sm\:col-11 {
    grid-column: span 11; }
    .sm\:col-11 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-11 {
    order: 11; }

  .sm\:col-12 {
    grid-column: span 12; }
    .sm\:col-12 > * {
      margin-bottom: 2.75rem; }

  .sm\:order-12 {
    order: 12; } }
@media screen and (min-width: 768px) {
  .md\:col-1 {
    grid-column: span 1; }
    .md\:col-1 > * {
      margin-bottom: 2.75rem; }

  .md\:order-1 {
    order: 1; }

  .md\:col-2 {
    grid-column: span 2; }
    .md\:col-2 > * {
      margin-bottom: 2.75rem; }

  .md\:order-2 {
    order: 2; }

  .md\:col-3 {
    grid-column: span 3; }
    .md\:col-3 > * {
      margin-bottom: 2.75rem; }

  .md\:order-3 {
    order: 3; }

  .md\:col-4 {
    grid-column: span 4; }
    .md\:col-4 > * {
      margin-bottom: 2.75rem; }

  .md\:order-4 {
    order: 4; }

  .md\:col-5 {
    grid-column: span 5; }
    .md\:col-5 > * {
      margin-bottom: 2.75rem; }

  .md\:order-5 {
    order: 5; }

  .md\:col-6 {
    grid-column: span 6; }
    .md\:col-6 > * {
      margin-bottom: 2.75rem; }

  .md\:order-6 {
    order: 6; }

  .md\:col-7 {
    grid-column: span 7; }
    .md\:col-7 > * {
      margin-bottom: 2.75rem; }

  .md\:order-7 {
    order: 7; }

  .md\:col-8 {
    grid-column: span 8; }
    .md\:col-8 > * {
      margin-bottom: 2.75rem; }

  .md\:order-8 {
    order: 8; }

  .md\:col-9 {
    grid-column: span 9; }
    .md\:col-9 > * {
      margin-bottom: 2.75rem; }

  .md\:order-9 {
    order: 9; }

  .md\:col-10 {
    grid-column: span 10; }
    .md\:col-10 > * {
      margin-bottom: 2.75rem; }

  .md\:order-10 {
    order: 10; }

  .md\:col-11 {
    grid-column: span 11; }
    .md\:col-11 > * {
      margin-bottom: 2.75rem; }

  .md\:order-11 {
    order: 11; }

  .md\:col-12 {
    grid-column: span 12; }
    .md\:col-12 > * {
      margin-bottom: 2.75rem; }

  .md\:order-12 {
    order: 12; } }
@media screen and (min-width: 992px) {
  .lg\:col-1 {
    grid-column: span 1; }
    .lg\:col-1 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-1 {
    order: 1; }

  .lg\:col-2 {
    grid-column: span 2; }
    .lg\:col-2 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-2 {
    order: 2; }

  .lg\:col-3 {
    grid-column: span 3; }
    .lg\:col-3 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-3 {
    order: 3; }

  .lg\:col-4 {
    grid-column: span 4; }
    .lg\:col-4 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-4 {
    order: 4; }

  .lg\:col-5 {
    grid-column: span 5; }
    .lg\:col-5 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-5 {
    order: 5; }

  .lg\:col-6 {
    grid-column: span 6; }
    .lg\:col-6 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-6 {
    order: 6; }

  .lg\:col-7 {
    grid-column: span 7; }
    .lg\:col-7 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-7 {
    order: 7; }

  .lg\:col-8 {
    grid-column: span 8; }
    .lg\:col-8 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-8 {
    order: 8; }

  .lg\:col-9 {
    grid-column: span 9; }
    .lg\:col-9 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-9 {
    order: 9; }

  .lg\:col-10 {
    grid-column: span 10; }
    .lg\:col-10 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-10 {
    order: 10; }

  .lg\:col-11 {
    grid-column: span 11; }
    .lg\:col-11 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-11 {
    order: 11; }

  .lg\:col-12 {
    grid-column: span 12; }
    .lg\:col-12 > * {
      margin-bottom: 2.75rem; }

  .lg\:order-12 {
    order: 12; } }
@media screen and (min-width: 1200px) {
  .xl\:col-1 {
    grid-column: span 1; }
    .xl\:col-1 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-1 {
    order: 1; }

  .xl\:col-2 {
    grid-column: span 2; }
    .xl\:col-2 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-2 {
    order: 2; }

  .xl\:col-3 {
    grid-column: span 3; }
    .xl\:col-3 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-3 {
    order: 3; }

  .xl\:col-4 {
    grid-column: span 4; }
    .xl\:col-4 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-4 {
    order: 4; }

  .xl\:col-5 {
    grid-column: span 5; }
    .xl\:col-5 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-5 {
    order: 5; }

  .xl\:col-6 {
    grid-column: span 6; }
    .xl\:col-6 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-6 {
    order: 6; }

  .xl\:col-7 {
    grid-column: span 7; }
    .xl\:col-7 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-7 {
    order: 7; }

  .xl\:col-8 {
    grid-column: span 8; }
    .xl\:col-8 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-8 {
    order: 8; }

  .xl\:col-9 {
    grid-column: span 9; }
    .xl\:col-9 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-9 {
    order: 9; }

  .xl\:col-10 {
    grid-column: span 10; }
    .xl\:col-10 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-10 {
    order: 10; }

  .xl\:col-11 {
    grid-column: span 11; }
    .xl\:col-11 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-11 {
    order: 11; }

  .xl\:col-12 {
    grid-column: span 12; }
    .xl\:col-12 > * {
      margin-bottom: 2.75rem; }

  .xl\:order-12 {
    order: 12; } }
@media screen and (min-width: 1400px) {
  .xxl\:col-1 {
    grid-column: span 1; }
    .xxl\:col-1 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-1 {
    order: 1; }

  .xxl\:col-2 {
    grid-column: span 2; }
    .xxl\:col-2 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-2 {
    order: 2; }

  .xxl\:col-3 {
    grid-column: span 3; }
    .xxl\:col-3 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-3 {
    order: 3; }

  .xxl\:col-4 {
    grid-column: span 4; }
    .xxl\:col-4 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-4 {
    order: 4; }

  .xxl\:col-5 {
    grid-column: span 5; }
    .xxl\:col-5 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-5 {
    order: 5; }

  .xxl\:col-6 {
    grid-column: span 6; }
    .xxl\:col-6 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-6 {
    order: 6; }

  .xxl\:col-7 {
    grid-column: span 7; }
    .xxl\:col-7 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-7 {
    order: 7; }

  .xxl\:col-8 {
    grid-column: span 8; }
    .xxl\:col-8 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-8 {
    order: 8; }

  .xxl\:col-9 {
    grid-column: span 9; }
    .xxl\:col-9 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-9 {
    order: 9; }

  .xxl\:col-10 {
    grid-column: span 10; }
    .xxl\:col-10 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-10 {
    order: 10; }

  .xxl\:col-11 {
    grid-column: span 11; }
    .xxl\:col-11 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-11 {
    order: 11; }

  .xxl\:col-12 {
    grid-column: span 12; }
    .xxl\:col-12 > * {
      margin-bottom: 2.75rem; }

  .xxl\:order-12 {
    order: 12; } }
/* _container.scss */
.container-xs {
  width: 100%;
  max-width: 0;
  padding: 2rem;
  margin: 0 auto; }

.container-sm {
  width: 100%;
  max-width: 576px;
  padding: 2rem;
  margin: 0 auto; }

.container-md {
  width: 100%;
  max-width: 768px;
  padding: 2rem;
  margin: 0 auto; }

.container-lg {
  width: 100%;
  max-width: 992px;
  padding: 2rem;
  margin: 0 auto; }

.container-xl {
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto; }

.container-xxl {
  width: 100%;
  max-width: 1400px;
  padding: 2rem;
  margin: 0 auto; }

/* _card.scss */
.card {
  position: relative;
  text-align: left;
  display: flex;
  gap: 1rem;
  transition-duration: .1s; }
  .card.card-row {
    flex-direction: row; }
  .card.card-column {
    flex-direction: column; }
  .card.card-border {
    border: #000 1px solid;
    padding: 2rem; }
  .card .card__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .card.card-row .card__thumbnail {
    height: 100%;
    object-fit: cover;
    min-width: 250px; }
  .card.card-column .card__thumbnail {
    width: 100%;
    object-fit: cover;
    min-height: 250px; }
  .card .card__title {
    font-weight: normal;
    font-size: 30px; }
  .card .card__body > * {
    margin: 0;
    padding: 0; }
  .card .card__meta {
    color: #828282; }

.banner {
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 20%;
  margin: 0; }

/* _button.scss */
.btn {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border: 1px solid #333333;
  border-radius: 0;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background: #333333;
  cursor: pointer;
  transition-duration: .1s; }

.btn.btn-inverted, .btn:hover {
  color: #000;
  background: #fff; }

/* _dropdown.scss */
.dropdown {
  position: relative; }
  .dropdown .dropdown__toggle {
    cursor: pointer; }
  .dropdown .dropdown__menu {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -1px;
    padding: 0.75rem;
    top: 100%;
    left: 0;
    background: white;
    border: #000 1px solid;
    border-radius: 3px;
    list-style: none; }
  .dropdown .dropdown__menu .dropdown__menu__item {
    padding: 0.5rem; }

.dropdown.active .dropdown__menu {
  display: flex; }

/* _alert.scss */
.alert {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: auto; }

.alert-danger {
  color: #e74c3c;
  border-color: #e74c3c;
  background: #fdf3f2; }

.alert-warning {
  color: #e67e22;
  border-color: #e67e22;
  background: #fbe9d9; }

.alert-success {
  color: #27ae60;
  border-color: #27ae60;
  background: #b3eecc; }

/* _badge.scss */
.badge {
  display: inline;
  padding: 0.25rem;
  color: #fff;
  border-radius: 3px; }

.badge-danger {
  background: #e74c3c; }

.badge-warning {
  background: #e67e22; }

.badge-success {
  background: #27ae60; }

/* _pagination.scss */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none; }

.pagination__item {
  border: #f3f3f3 1px solid;
  padding: 0.5rem 0.75rem;
  transition-duration: .1s;
  z-index: 0;
  cursor: pointer; }

.pagination__item:not(:first-child) {
  margin-left: -1px; }

.pagination__item:hover {
  background: #f3f3f3; }

.pagination__item:first-child {
  border-radius: 3px 0 0 3px; }

.pagination__item:last-child {
  border-radius: 0 3px 3px 0; }

.pagination__item.active {
  z-index: 1;
  background: #333333;
  border-color: #333333;
  color: #fff; }

.pagination__item.active:hover {
  background: #333333; }

.block {
  height: 75vh;
  display: flex;
  flex-direction: flex-row;
  justify-content: center;
  align-items: center; }

.block.block-reverse {
  flex-direction: row-reverse; }

.block > * {
  flex: 1; }

/* _comment.scss */
.comment {
  width: 100%; }

.comment > .comment__author,
.comment > .comment__date,
.comment > .comment_content {
  font-size: inherit; }

.comment .comment__author {
  margin: 0.5rem 0;
  font-weight: bold; }

.comment .comment__date {
  margin: 0 0 1rem;
  color: #828282; }

.comment .comment__content {
  margin: 1rem 0; }

.comment-form {
  width: 100%; }

.comment-form .comment-form__group {
  border: #000 1px solid;
  margin-bottom: 1rem; }

.comment-form input,
.comment-form textarea {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem; }

.comment-form textarea {
  resize: none; }

.area {
  stroke: white;
  stroke-width: .5px; }

.area:hover {
  fill: gray; }

/*# sourceMappingURL=style.css.map */
