/* _button.scss */

.btn
{
    padding-left:   1.2em;
    padding-right:  1.2em;
    padding-top:    0.6em;
    padding-bottom: 0.6em;

    border: 1px solid $dark;
    border-radius: 0;

    font-size: 1rem;
    
    text-align: center;

    color: $white;
    background: $dark;
    
    cursor: pointer;

    transition-duration: .1s;
}

.btn.btn-inverted
{
    color: $black;
    background: $white;  
}

.btn:hover
{
    @extend .btn-inverted
}