/* _card.scss */

.card
{    
    position: relative; 

    text-align: left;
    
    display: flex;
    gap: 1 * $spacer;

    transition-duration: .1s;

    &.card-row    { flex-direction: row;    }
    &.card-column { flex-direction: column; }

    &.card-border { border: $black 1px solid; 
                    padding: 2 * $spacer; }

    .card__body
    {
        width: 100%;
        
        display: flex;
        flex-direction: column;
        gap: 1 * $spacer;  
    }

    &.card-row .card__thumbnail
    {
        height: 100%;
        object-fit: cover;

        min-width: 250px;
    }
    
    &.card-column .card__thumbnail
    {
        width: 100%;
        object-fit: cover;

        min-height: 250px;
    }

    .card__title
    {
        font-weight: normal;
        font-size: 1.5 * $body-font-size;
    }

    .card__title a
    {
        @extend a.underlined;
    }

    .card__body > *
    {
        margin: 0;
        padding: 0;
    }

    .card__meta
    {
        color: $gray;
    }

}