/* _dropdown.scss */

.dropdown
{
    position: relative;

    .dropdown__toggle
    {
        cursor: pointer;
    }

    .dropdown__menu
    {
        position: absolute;
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        padding: .75 * $spacer;

        top: 100%;
        left: 0;

        background: white;

        border: $light 1px solid;
        border-radius: 3px;

        list-style: none;
    }

    .dropdown__menu .dropdown__menu__item
    {
        padding: .5  * $spacer;
    }
}

.dropdown.active
{
    .dropdown__menu
    {
        display: flex;
    }
}
