/* _pagination.scss */

.pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    list-style: none;
}

.pagination__item
{
    border: $light 1px solid;
    padding: .5 * $spacer .75 * $spacer;

    transition-duration: .1s;

    z-index: 0;

    cursor: pointer;
}

.pagination__item:not(:first-child)
{
    margin-left: -1px;
}

.pagination__item:hover
{
    background: $light;
}

.pagination__item:first-child { border-radius: 3px 0 0 3px; }
.pagination__item:last-child { border-radius: 0 3px 3px 0; }

.pagination__item.active
{
    z-index: 1;
    
    background:   $dark;
    border-color: $dark;
    color: $white;
}

.pagination__item.active:hover
{
    background: $dark;
}