/* _article.scss */

.article
{
    max-width: map-get($breakpoints, md);
    width: 100%;
    
    margin: 0 auto;
    padding: 2 * $spacer 1 * $spacer;
}

.main-image-container
{
    margin: 3 * $spacer 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image
{
    margin: 0 !important;

    width: 200%;
    max-width: 90vw;
    max-height: 75vh;
    
    object-fit: cover;
}

.article .title
{
    font-size:   2.7rem; 
    font-weight: normal;
    line-height: 1.6em;
    margin: 0 0 2 * $spacer;

    text-align: center;
}

.article .resume
{
    text-align: center;
}

.article .foot
{
    width: 100%;
}

.article
{    
    blockquote 
    { 
        margin: 3 * $spacer 0; 
    }

    h1, h2, h3, h4, h5, h6, img, ol, ul, p
    { 
        margin: 2 * $spacer 0;
    }

    a
    {
        @extend a.underlined
    }

}