/* _article.scss */

.main-img
{
    max-height: 70vh; 
    object-fit: contain;
    width: 100%;
}

.article
{
    max-width: map-get($breakpoints, lg);
    width: 100%;
    
    margin: 0 auto;
    padding: 1 * $spacer;

    position: relative;
    background: inherit;

}

@media screen and (min-width: map-get($breakpoints, sm)) 
{
    .article
    {
        padding: 2 * $spacer;
    }    
}

@media screen and (min-width: map-get($breakpoints, md)) 
{
    .article
    {
        padding: 2 * $spacer 5 * $spacer;
    }    
}

.article .title
{
    font-size:   2rem; 
    font-weight: normal;
    line-height: 1.3;
    margin: 0 0 2 * $spacer;

    text-align: center;
}

@media screen and (min-width: map-get($breakpoints, sm)) 
{
    
    .article .title 
    {
        font-size:   2.7rem; 
    }
}

.article .foot
{
    width: 100%;
}

.article
{    
    blockquote, table, img
    { 
        margin: 3 * $spacer 0; 
    }

    h1, h2, h3, h4, h5, h6, img, ol, ul, p
    { 
        margin: 2 * $spacer 0;
    }

    a
    {
        @extend a.underlined
    }

    .delimiter::before
    {
        content: '···';
        letter-spacing: .5em;
        font-size: 1.5rem;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

}