{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ article.title }} - L'Œil d'Assas</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

{% endblock %}

{% block nav %}
<!-- empty -->
{% endblock %}

{% block content %}

    <img class="main-img" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">

    <article class="article" id="article">

        <h1  class="title">{{ article.title }}</h1>
        <div class="text-center lead">{{ article.resume }}</div>

        <div class="delimiter my-2"></div>
        
        {% load editorjs %}
        {{ article.content | editorjs }}

        <div class="foot flex justify-flex-end items-center">
            {{ article.author.first_name }} {{ article.author.last_name }} — {{ article.last_updated | date:'m/d/Y' }} — {{ article.views }} vues
        </div>

        <p data-do-not-print>
            <strong>Lire aussi : </strong>
            {% for recommandation in recommandations %}
                <a href="{% url 'article' slug=recommandation.slug %}">{{ recommandation.title }}</a>
                {% if not forloop.last %} 
                    ,&nbsp;
                {% endif %}
            {% endfor %}
        </p>

        <hr>

        <div class="comments" data-do-not-print>
        {% for comment in comments %}

            <div class="comment">
                <h3 class="comment__author">{{ comment.author }}</h3>
                <p class="comment__date">{{ comment.date }}</p>
                <p class="comment__content">{{ comment.content }}</p>
            </div>

            <hr>
        {% endfor %}
        </div>

        <form class="comment-form" method="post" data-do-not-print>
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="comment-form__group">
                {{ field }}
            </div>
            {% endfor %}
            <div class="flex justify-flex-end items-center">
                <button type="submit" class="btn btn-primary btn-lg">Publier</button>
            </div>
        </form>

    </article>


{% endblock %}
