{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ article.title }} - Trajectoire</title>

    <script defer src="{% static 'js/go-top.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css">

{% endblock %}

{% block nav %}
<nav class="nav">
    <ul>
        {% for category in categories %}
        
            {% if category == article.category %}
            <li><a class="underlined" href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></li>
            {% else %}
            <li><a href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></li>
            {% endif %}

        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}

    <div class="go-top">↑</div>

    <img class="main-img" src="{{ article.thumbnail.url }}" alt="{{ article.title }}">

    <article class="article" id="article">

        <!-- <div class="tag">{{ article.category }}</div> -->
        <h1  class="title">{{ article.title }}</h1>
        <div class="text-center lead">{{ article.resume }}</div>

        <div class="delimiter my-2"></div>

        {% load editorjs %}
        {{ article.content | editorjs }}

        <p>
            <strong>Lire aussi : </strong>
            {% for recommandation in recommandations %}
                <a href="{% url 'article' slug=recommandation.slug %}">{{ recommandation.title }}</a>
                {% if not forloop.last %} 
                    ,&nbsp;
                {% endif %}
            {% endfor %}
        </p>

        <div class="foot flex justify-flex-end items-center">

            <div>
                {{ article.author.first_name }} {{ article.author.last_name }} — {{ article.last_updated | date:'m/d/Y' }}
            </div>
            
        </div>

    </article>


{% endblock %}
