{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Contribuer - Trajectoire</title>

    <!-- js -->
    <script src="{% static 'js/reading-time.js' %}" defer></script>

{% endblock %}

{% block content %}

    <article class="article" id="article">

        <div class="head">

            <div class="">
                <span id="reading-time"></span> minutes de lecture
            </div>
            <h1  class="title">Contribuer au projet Trajectoire</h1>
            <div class="resume">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum deleniti porro aut corrupti expedita aperiam facere quisquam totam sit a ea </div>

        </div>

        <img src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" alt="Contribuer au projet Trajectoire" class="img-main">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sunt odio! Veritatis voluptatem corporis delectus asperiores dicta quia accusamus cupiditate in, suscipit molestias eos eius fugiat. Excepturi ad aperiam sunt?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam quaerat veniam distinctio et vel quia assumenda quod commodi provident saepe deleniti repellat reiciendis alias, fuga hic nam rerum non?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi esse debitis delectus veritatis reiciendis iusto nostrum voluptates. Ipsa facere doloribus omnis similique tempora quisquam, maxime quidem, cupiditate mollitia labore officiis!</p>

        <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
            <li>Amet</li>
        </ul>

        <div class="foot flex justify-flex-end items-center">

            <div class="small">
                L'équipe Trajectoire
            </div>
            
        </div>

    </article>

{% endblock %}
