{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Contribuer - Trajectoire</title>
{% endblock %}

{% block nav %}
<nav class="nav">
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}

<img class="object-fit-cover w-100 max-h-65" src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" alt="Contribuer">

    <article class="article" id="article">

        <div class="tag">Informations</div>
        <h1  class="title">Contribuer au projet Trajectoire</h1>
        <div class="text-center lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum omnis veniam itaque ea. Corrupti cumque quasi beatae rem doloribus qui eaque id, atque ipsum tempore modi recusandae, harum accusantium odio.</div>

        <div class="delimiter my-2"></div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, sunt odio! Veritatis voluptatem corporis delectus asperiores dicta quia accusamus cupiditate in, suscipit molestias eos eius fugiat. Excepturi ad aperiam sunt?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsam quaerat veniam distinctio et vel quia assumenda quod commodi provident saepe deleniti repellat reiciendis alias, fuga hic nam rerum non?</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi esse debitis delectus veritatis reiciendis iusto nostrum voluptates. Ipsa facere doloribus omnis similique tempora quisquam, maxime quidem, cupiditate mollitia labore officiis!</p>

        <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Dolor</li>
            <li>Sit</li>
            <li>Amet</li>
        </ul>

        <div class="foot flex justify-flex-end items-center">

            <div class="small">
                L'équipe Trajectoire
            </div>
            
        </div>

    </article>

{% endblock %}
