{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>À propos - Trajectoire</title>
{% endblock %}

{% block nav %}
<nav class="nav">
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category' slug=category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block content %}

<img class="main-img" src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1073&q=80" alt="Contribuer">

    <article class="article" id="article">

        <h1  class="title">À propos du projet</h1>

        <div class="delimiter my-2"></div>

        <p>Persuadé que pour intéresser le plus grand nombre il suffit de phrases simples mettant en valeur l'information et non le style. Convaincu que le citoyen gagnerait à apprendre de son voisin, qu’il soit spécialiste ou simplement curieux. Pensant que l'écriture plus que tout autre support permet une expression précise et détaillée. Et, finalement inquiet quant à l’avenir de la presse écrite de plus en plus en proie à des logiques d’argent qui prennent le pas  sur la qualité des articles. </p>
        <p>Nous avons souhaité créer notre propre site internet pour expérimenter et vous faire partager une autre vision du journalisme.  À vocation participatif, ce site mettra à votre disposition un support sur lequel chacun(e)s, sur un même pied d’égalité pourra apprendre, transmettre et débattre de l’information. Et parce qu'il n'existe pas de culture/connaissance/d’avis supérieures à d'autres, ce site accueillera toute information. Chaque article sera accompagné d’un espace commentaire afin que les avis puissent diverger. Faisant le pari de l’intelligence collective, nous comptons sur votre bienveillance.</p>
        <p>Ce site à vocation à tracer un chemin, une trajectoire d'une information horizontale, claire, qui donne matière à réfléchir, à débattre.</p>
        <p>Nous vous remercions.</p>

        <div class="foot flex justify-flex-end items-center">

            <div class="small">
                L'équipe Trajectoire
            </div>
            
        </div>

    </article>

{% endblock %}
