/* _base.scss */

*, ::before, ::after
{
    box-sizing: border-box;
}

html, body
{
    scroll-behavior: smooth;

    font-size:   $body-font-size-mobile;
    line-height: $body-line-height-mobile;

    font-family:    $body-font-family;
    letter-spacing: $body-letter-spacing;
    font-weight:    $body-font-weight;

    background: $body-bg;
    color:      $body-fg;
}

@media screen and (min-width: map-get($breakpoints, md)) 
{
    html, body
    {
        font-size: $body-font-size;
        line-height: $body-line-height;
    }    
}

main 
{
    background: $body-bg;
}

*
{
    outline: none;
}

p
{}

hr
{
    border: 0;
    width: 100%;
    height: 1px;

    margin: 3 * $spacer 0;
    background: $black;
}

h1, h2, h3, h4, h5, h6
{
    margin: 0;
    font-family: $heading-font-family;
    font-weight: 500;	
    line-height: 1.5em;
}

h1	
{
    font-size: 2.00rem;
    margin: 0.67em 0 0.67em;
}

h2	
{
    font-size: 1.50rem;
    margin: 0.83em 0 ;
}

h3	
{
    font-size: 1.17rem;
    margin: 1em 0;
}

h4	
{
    margin-top: 1.00rem;
    margin: 1.33em 0;
}

h5	
{
    font-size: 0.83rem;
    margin: 1.67em 0;
}

h6	
{
    font-size: 0.67rem;
    margin: 2.33em 0;
}

img
{
    max-width: 100%;
}

a
{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a.underlined
{
    border-bottom: .09rem solid $gray;
}

mark
{
    padding: 0 .25em;
    background: rgba(255, 255, 0, 0.25);
}

blockquote
{
    display: block;
    width: 100%;
    
    padding: 0 2 * $spacer;

    color: $gray;
    
    line-height: 1.3em;
    font-size:   1.6em;
    font-weight: 300;

    cite
    {
        display: block;    
        width: 100%;
        
        margin-top: 1 * $spacer;
    }

    cite::before
    {
        content: "— ";
    }
}

b
{
    font-weight: bold;
}

i
{
    font-style: italic;
}

ul
{
    display: block;
    list-style-type: disc;

    padding-left: 2 * $spacer;
}

ol
{
	display: block;
    list-style-type: decimal;

    padding-left: 2 * $spacer;
}

li
{
    display: list-item;
}

code
{
    background: $light;
    padding: .1 * $spacer .25 * $spacer;
    font-family: monospace;
}

table 
{

    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    border: black 1px solid;
    text-align: center;

}

table thead tr 
{
    background: $dark;
    color: $white;
}

table th,
table td 
{
    padding: 0.6 * $spacer 0.75 * $spacer;
}

table tbody tr 
{
    border-bottom: black 1px solid;
}

table tbody tr:nth-of-type(even) 
{
    background-color: $light;
}

table tbody tr:last-of-type 
{
    border-bottom: black 1px solid;
}