/* _variables.scss */

// fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// colors

$black: #000;
$white: #fff;

$dark:  #333333;
$gray:  #828282;
$light: #E6E6E6;

$theme-colors: 
(
  danger:  #e74c3c,
  warning: #e67e22,
  success: #27ae60
);

// body

$body-fg: $dark;
$body-bg: $white;

$body-line-height: 32px;
$body-font-size:   20px;

$body-line-height-mobile: 28px;
$body-font-size-mobile: 18px;

$body-font-weight: normal;
$body-letter-spacing: -0.003em;
$body-font-family: 'Source Serif Pro', serif;

$heading-font-family: 'Playfair Display', sans-serif;

// spacers

$spacer: 1rem;

$spacers: 
(
  0: $spacer * 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
);

// grid

$grid-columns: 12;
$grid-gap: 4    * $spacer;
$col-gap:  2.75 * $spacer;

// breakpoints 

$breakpoints: 
(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);